@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
  box-sizing: border-box;
}

:root {
  --primary-color: #041b5f;
  --white: #fff;
  --red: #ed0908;
  --gray: #737373;

  --primary: #041b5f;
  --secondary: #ed0908;
}
