/*****************/
/*  BELOW 1024px */
/*****************/

@media (max-width: 64em) {
  .main-section {
    padding: 0.5rem 1.5rem;
  }

  .logo-img {
    max-width: 6rem;
    max-height: 6rem;
  }

  .download-btn {
    padding: 0.8rem 1.5rem;
  }

  .icon {
    height: 2rem;
    width: 2rem;
  }

  .nav-section {
    display: none;
  }

  .main-heading {
    font-size: 4.2rem;
    line-height: 5rem;
  }

  .banner-section {
    padding: 10rem 2.5rem 0 2.5rem;
  }

  .banner-img-container img {
    max-height: 100%;
  }

  .our-advantage-section {
    padding: 5rem 1.5rem 5rem 1.5rem;
  }

  .adv-card {
    gap: 1rem;
  }

  .adv-card h3 {
    font-size: 1.4rem;
  }

  .adv-card p {
    font-size: 1.2rem;
  }

  .adv-card {
    padding: 20px 10px 20px 10px;
  }

  .bonus-section {
    padding: 50px 25px 25px 25px;
  }

  .stats-card {
    flex: 0 0 48.9%;
  }

  .stats-card:first-child,
  .stats-card:nth-child(2) {
    margin-bottom: 2rem;
  }

  .welcome-section {
    padding: 35px 15px 35px 15px;
  }

  .footer {
    padding: 50px 15px 40px 15px;
  }
}

/*****************/
/*  BELOW 767px */
/*****************/

@media (max-width: 47.9375em) {
  .main-section {
    padding: 1rem 1.5rem;
    z-index: 999;
  }

  .logo-img {
    max-width: 4.5rem;
    max-height: 4.5rem;
  }

  .download-btn {
    padding: 0.7rem 1.4rem;
    font-size: 1.3rem;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .main-heading {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }

  .description {
    font-size: 1.6rem;
  }

  .banner-section {
    padding: 7rem 2rem 0 2rem;
  }

  .main-heading {
    line-height: normal;
  }

  .our-advantage-section {
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  }

  .adv-head {
    font-size: 3rem;
    line-height: 4rem;
  }

  .text {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .adv-card h3 {
    font-size: 1.8rem;
  }

  .adv-card p {
    font-size: 1.6rem;
  }

  .adv-card {
    padding: 20px 20px 20px 20px;
  }

  .adv-card-container {
    flex-direction: column;
    gap: 2rem;
  }

  .bonus-section {
    padding: 50px 20px 50px 20px;
  }

  .bonus-img {
    max-width: 100%;
    height: auto;
  }

  .bonus-content {
    flex-direction: column;
    gap: 2.5rem;
  }

  .bonus-section h2 {
    text-align: center;
    line-height: 4.2rem;
  }

  .bonus-description {
    align-items: center;
  }

  .text-left {
    text-align: center;
  }

  .stats-card:first-child,
  .stats-card:nth-child(2) {
    margin-bottom: 0;
  }

  .flex-direction-col {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }

  .stats-section {
    padding: 2rem 1.5rem 3.2rem 1.5rem;
  }

  .welcome-section {
    padding: 15px 15px 0px 15px;
  }

  .ds-h2  {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .ds-p {
    font-size: 1.6rem;
    font-weight: 300;
  }

  .new-gap {
    gap: 1.5rem;
  }

  .footer {
    padding: 20px 15px 20px 15px;
  }

  .footer-nav {
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .footer-logo {
    text-align: center;
    margin-right: -3rem;
  }

  .copyright-content {
    flex-direction: column;
  }

  .copy-text {
    text-align: center;
  }

}
